*{
    padding:0px;
    margin:0;
}

.background1{
	margin-left: 25%;
	background-image: linear-gradient(to top,#FFF, rgb(170, 226, 250));
	width: 864px;
	height: 90px;
	/*background-color: rgb(170, 226, 250);*/
	position: relative;
	text-align:center;
	/*background-size: 10% 100%;*/
}

.bgpicture{
	left:2%;
	top:10px;
	float: left;
	position: relative;
	/*padding-top: 18%;*/
}

.bghead{
	top: 25px;
	position: relative;
	font-family:'华文行楷 Bold Oblique', '华文行楷 Regular', '华文行楷';
	font-size: 30px;
	left: -80px;
}


.bgtext1{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	right:100px;
	bottom: 60px;
}

.bgtext2{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	left:770px;
	bottom: 60px;
}

.bgtext3{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	right:114px;
	bottom: 40px;
}

.bgtext4{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	left:755px;
	bottom: 40px;
}

.bgtext5{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	right:118px;
	bottom: 20px;
}


.line{
	margin-left: 25%;
	width: 864px;
	height: 45px;
	position: relative;
	text-align:center;
}

.button1{
	
	border-width:0px;
  	position:relative;
  	margin-left:50px;
  	top:0px;
  	width:143px;
  	height:45px;
  	background:inherit;
  	background-color:rgba(204, 204, 204, 1);
  	box-sizing:border-box;
  	border-width:1px;
  	border-style:solid;
  	border-color:rgba(121, 121, 121, 1);
  	border-radius:10px;
  	-moz-box-shadow:none;
  	-webkit-box-shadow:none;
  	box-shadow:none;
  	font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  	font-weight:700;
  	font-style:normal;
  	font-size:18px;
	cursor: pointer;
}

.information{
	margin-left: 25%;
	width: 864px;
	height: 392.6px;
	position: relative;
	text-align:left;
	/*border-style:solid;*/
	/*border-radius:10px;*/
	/*border-width:1px;*/
}

.frame{
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:213px;
    height:39px;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight:700;
    font-style:normal;
}

.message{
	top:-13px;
	left:80px;
	position:relative;
}

.tableframe1{
	border-width:1px;
    position:relative;
    left:0px;
    top:0px;
    width:216px;
    height:39px;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight:800;
	font-size:13px;
	float: left;
    font-style:normal;
	text-align:center;
}

.tableframe2{
	border-width:1px;
    position:relative;
    left:0px;
    top:0px;
    width:216px;
    height:39px;
    /*font-weight:900;*/
	font-size :13px;
	float: left;
    font-style:normal;
	text-align:center;
}

.tableframe3{
	border-width:1px;
    position:relative;
    left:0px;
    top:0px;
    width:648px;
    height:39px;
    /*font-weight:700;*/
	font-size:13px;
	float: left;
    font-style:normal;
	text-align:center;
}

.line2{
	/*margin-left: 25%;*/
	/*margin-top: 100px;*/
	float: left;
	border-width:1px;
	border-style:solid;
	width: 864px;
	height: 45px;
	position: relative;
	text-align:center;
	background:inherit;
  	background-color:rgba(204, 204, 204, 1);
}


.title2{
	margin-top: 8px;
	font-family:'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight:700;
	font-style:normal;
	font-size:20px;
}

.tableframe4{
	border-width:1px;
    position:relative;
    left:0px;
    top:0px;
    width:172.8px;
    height:39px;
    /*font-weight:700;*/
	font-size:13px;
	float: left;
    font-style:normal;
	text-align:center;
}
