*{
    padding:0px;
    margin:0;
}

.background1{
	margin-left: 25%;
	background-image: linear-gradient(to top,#FFF, rgb(170, 226, 250));
	width: 864px;
	height: 90px;
	/*background-color: rgb(170, 226, 250);*/
	position: relative;
	text-align:center;
	/*background-size: 10% 100%;*/
}

.bgpicture{
	left:2%;
	top:10px;
	float: left;
	position: relative;
	/*padding-top: 18%;*/
}

.bghead{
	top: 25px;
	position: relative;
	font-family:'华文行楷 Bold Oblique', '华文行楷 Regular', '华文行楷';
	font-size: 30px;
	left: -80px;
}


.bgtext1{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	right:114px;
	bottom: 60px;
}

.bgtext2{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	left:755px;
	bottom: 60px;
}

.bgtext3{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	right:114px;
	bottom: 40px;
}

.bgtext4{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	left:755px;
	bottom: 40px;
}

.bgtext5{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	right:118px;
	bottom: 20px;
}


.line{
	margin-left: 25%;
	width: 864px;
	height: 45px;
	position: relative;
	text-align:center;
}



.information{
	margin-left: 25%;
	width: 864px;
	/*height: 392.6px;*/
	position: relative;
	text-align:left;
	/*border-style:solid;*/
	/*border-radius:10px;*/
	/*border-width:1px;*/
}

.information{
	margin-left: 25%;
	width: 864px;
	height: 463px;
	position: relative;
	text-align:left;
	border-style:solid;
	border-radius:10px;
	border-width:1px;
}

.point{
	position:relative;
	top:10px;
	left:55px;
}

.message{
	top:-13px;
	left:80px;
	position:relative;
}