*{
    padding:0px;
    margin:0;
}

.background1{
	margin-left: 25%;
	background-image: linear-gradient(to top,#FFF, rgb(170, 226, 250));
	width: 864px;
	height: 90px;
	/*background-color: rgb(170, 226, 250);*/
	position: relative;
	text-align:center;
	/*background-size: 10% 100%;*/
}

.bgpicture{
	left:2%;
	top:10px;
	float: left;
	position: relative;
	/*padding-top: 18%;*/
}

.bghead{
	top: 25px;
	position: relative;
	font-family:'华文行楷 Bold Oblique', '华文行楷 Regular', '华文行楷';
	font-size: 30px;
	left: -80px;
}


.bgtext1{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	right:100px;
	bottom: 60px;
}

.bgtext2{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	left:770px;
	bottom: 60px;
}

.bgtext3{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	right:114px;
	bottom: 40px;
}

.bgtext4{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	left:755px;
	bottom: 40px;
}

.bgtext5{
	font-family:'Arial Normal', 'Arial';
  	font-weight:400;
  	font-style:normal;
  	font-size:14px;
  	color:#333333;
  	text-align:center;
  	line-height:normal;
	/*float: left;*/
	position:absolute;
	right:118px;
	bottom: 20px;
}


.line{
	margin-left: 25%;
	width: 864px;
	height: 45px;
	position: relative;
	text-align:center;
}

.button1{
	
	border-width:0px;
  	position:relative;
  	margin-left:50px;
  	top:0px;
  	width:143px;
  	height:45px;
  	background:inherit;
  	background-color:rgba(204, 204, 204, 1);
  	box-sizing:border-box;
  	border-width:1px;
  	border-style:solid;
  	border-color:rgba(121, 121, 121, 1);
  	border-radius:10px;
  	-moz-box-shadow:none;
  	-webkit-box-shadow:none;
  	box-shadow:none;
  	font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  	font-weight:700;
  	font-style:normal;
  	font-size:18px;
	cursor: pointer;
}

.information{
	margin-left: 25%;
	width: 864px;
	height: 745px;
	position: relative;
	text-align:left;
	/*border-style:solid;*/
	/*border-radius:10px;*/
	/*border-width:1px;*/
}

.tableframe1{
	border-width:1px;
    position:relative;
    left:0px;
    top:0px;
    width:165px;
    height:39px;
    /*font-weight:900;*/
	font-size :13px;
	float: left;
    font-style:normal;
	text-align:center;
}

.box1{
	border-width:1px;
	border-style:solid;
    position:relative;
    left:0px;
    top:0px;
    width:163px;
    height:39px;
    font-weight:700;
	font-family:'楷体 Bold', '楷体';
	font-size :13px;
	float: left;
    font-style:normal;
	text-align:center;
}

.input1{
	border-width:1px;
	position:relative;
	left: 7px;
	top: 7px;
    width:145px;
    height:20px;
	font-size :13px;
	float: left;
	font-style:normal;
	border-style:solid;
	/*text-align:center;*/
}

.input2{
	border-width:1px;
	position:relative;
	left: 15px;
	top: 15px;
    width: 390px;
    height: 120px;
	font-size :13px;
	float: left;
	font-style:normal;
	border-style:solid;
	/*text-align:center;*/
}

.imgbox{
    border-width: 1px;
    border-style: solid;
    position: relative;
    left: 0px;
    top: 0px;/**/
    width: 202px;
    height: 285px;
    /*font-weight:900;*/
    font-size : 13px;
    float: right;
    font-style: normal;
    text-align: center;
}

.imgtext{
    margin-left: 10px;
    margin-top: 90px;
	font-family:'楷体 Bold', '楷体';
    font-weight:700;
    font-size : 28px;
    float: none;
    font-style: normal;
    text-align: center;
}

.boxtext{
	margin-left:40px;
	margin-top:9px;
	/*font-weight:700;*/
	font-size :20px;
	float: left;
    font-style:normal;
	text-align:center;
}

.boxtext2{
	margin-left:40px;
	margin-top:9px;
	/*font-weight:700;*/
	font-size :20px;
	float: left;
    font-style:normal;
	text-align:center;
}



.box2{
    border-width: 1px;
    border-style: solid;
    /*margin-bottom: 100px;*/
    position: relative;
    left: 0px;
    top: 0px;
    width: 430px;
    height: 150px;
    font-weight:700;
	font-family:'楷体 Bold', '楷体';
    font-size : 13px;
    float: left;
    font-style: normal;
    text-align: center;
}

.test2{
	top:40px;
	margin-left: 25%;
	width: 864px;
	height: 45px;
	position: relative;
	text-align:center;
}

.update{
	text-align:center;
	position: relative;
	/*left: 350px;
	top: 290px;*/
	width:140px;
	height:25px;
	background:inherit;
	background-color:rgba(204, 204, 204, 1);
	box-sizing:border-box;
	border-width:1px;
	border-style:solid;
	border-color:rgba(121, 121, 121, 1);
	border-radius:5px;
	cursor: pointer;
}

.save{
	text-align:center;
	position: relative;
	right: 50px;
	/*top: 290px;*/
	width:140px;
	height:25px;
	background:inherit;
	background-color:rgba(204, 204, 204, 1);
	box-sizing:border-box;
	border-width:1px;
	border-style:solid;
	border-color:rgba(121, 121, 121, 1);
	border-radius:5px;
	cursor: pointer;
}

.cancel{
	text-align:center;
	position: relative;
	left: 50px;
	/*top: 290px;*/
	width:140px;
	height:25px;
	background:inherit;
	background-color:rgba(204, 204, 204, 1);
	box-sizing:border-box;
	border-width:1px;
	border-style:solid;
	border-color:rgba(121, 121, 121, 1);
	border-radius:5px;
	cursor: pointer;
}